<style>
  
</style>
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="top_bg color-accent-2">
            <div class="container">
                  <div class="top_email row">
                        <a href="mailto:vip@zzshe.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Delevery Timings</a>
                        <a href="tel:86-571-28003501"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Best Prices Everyday</a>
                        <a href=""><span class="	glyphicon glyphicon-shopping-cart"></span> Same Day Delivery All Over UAE</a>
                        <a href=""><span class="glyphicon glyphicon-user"></span> How It works</a>
                    
                        <a href=""><span class="glyphicon glyphicon-user"></span> Login &amp; Register</a>

                  </div>
            </div>
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
